.shop1{
  background-image: url("../img/home3-bg4-copyright.jpg");
}

.bg1{
  background-image: url("../img/home1-bg1-min-copyright.jpg");
}

.team{
  background-image: url("../img/home2-bg7-min-copyright.jpg");
  opacity: 1;
}

