.discount1{
  background-image: url("../img/banner.jpg");
   background-position: center;
   background-size: cover;
   
}

.shop1{
  background-image: url("../img/home3-bg4-copyright.jpg");
}

.banner1{
  background-image: url("../img/home1-bg1-min-copyright.jpg");
}

