.discount1{
  background-image: url("../img/home1-bg6-min-copyright.jpg");
}

.shop1{
  background-image: url("../img/home3-bg4-copyright.jpg");
}

.banner1{
  background-image: url("../img/home1-bg1-min-copyright.jpg");
}

